.WeatherAppWrap {
  width: 100%;
  max-width: 950px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.weather-btn {
  width: 30rem;
  height: 4rem;
  border-radius: 20px;
  background-color: rgb(240, 128, 128);
  font-size: 2rem;
  text-align: center;
  border: none;
}
.weather-btn:hover {
  background-color: rgb(136, 45, 45);
}
